
.treeView, .treeView ul {
    list-style-type: none;
}


.treeView ul {
    padding-left:1rem;
}


.treeView {
    margin: 0;
    padding: 0;
}

/*.treeView  .no-caret {*/
/*    cursor: pointer;*/
/*    -webkit-user-select: none; !* Safari 3.1+ *!*/
/*    -moz-user-select: none; !* Firefox 2+ *!*/
/*    -ms-user-select: none; !* IE 10+ *!*/
/*    user-select: none;*/
/*}*/

.treeView  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.treeView  .caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */' 
    transform: rotate(90deg);
}

.treeView ul {
    display: none;
}

.treeView li.open>ul {
    display: block;
}
.treeView>li.nav-level-0.open, .treeView>li:hover {
    background-color: #ccc;
}
.treeView>li.nav-level-0.open>span {
    padding-bottom: 1rem;
    text-decoration: underline;
    display: block;
}

.treeView>li.nav-level-0>.caret::before {
    content: none;
    display: none;
    margin-right: 0;
}

li.nav-level-1 {
    padding-top: .5em;
    background-color: #bbb;
    border-radius: 6px;
    padding-bottom: .5rem;
    padding-left: .5rem;
    margin-bottom: 5px;
}


/* Style the buttons that are used to open and close the accordion panel */

.treeView>li>a {
    color: #444;
}
.treeView>li {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 11px;
    margin-bottom: 10px;
}

/* Style the accordion panel. Note: hidden by default */
.treeView>li>ul {
    padding: 0 0px;
    /*background-color: #eee;*/
    display: none;
    overflow: hidden;
}
